 body{
   background-color: #ddf7bd;
 }
 .light_brnbkg{
   position: absolute;
   background-color: ;
   background-size: contain;
   z-index: 2;
   margin-top: 210px;
   left: 35%;
   height: auto;
   width: 600px;
   padding-bottom: 50px;


 }
 .navbar{
   position: fixed;
   z-index: 10;
   height: 100%; /*height transition to 200px*/
   width: 100%;
   background-color: rgb(232,178,131); /*tansition to rgba(26,225,102,.737)*/
   transition: height 1s, background-color 2s;
 }
 #wiki_header{
   position: relative;
   left: 45%;
 }
 .inputs{
   position: relative;
   z-index: 30;
   left: 40%;
   top: 5px;
   opacity: 1;
}
#text_input{
 font-size: 20px;
 font-family:
}

.list{
  position: relative;
  z-index: 22;
  top:  60px;

}
li{
  background-color: white;
  padding: 25px;
  max-width:  97%;
  margin-bottom: 30px;
  display: block;
  border-top: 5px solid rgb(92,167,250);
  border-bottom: 5px solid rgb(92,167,250);
  transition: border-left, border-right, .5s;


}
.borders :hover{
  border-top: 0px;
  border-bottom: 0px;
  border-left: 10px solid rgb(98,247,189);
  border-right: 10px solid rgb(98,247,189);
}
.li_class :hover{
  border-style: none;
}
h3{
  text-align: center;
  padding-bottom: 30px;
}
