 body{
   background-color: #deaa87;
 }
 .light_brnbkg{
   position: absolute;
   background-color: white;
   background-size: contain;
   z-index: 2;
   margin-top: 210px;
   left: 29%;
   /*height: 100%;*/
   width: 600px;
   padding-bottom: 50px;


 }
 .navbar{
   position: fixed;
   z-index: 10;
   height:100%;
   width: 100%;
   background-color: rgb(17,105,159);

 }
 .inputs{
   position: relative;
   z-index: 30;
   left: 40%;
   top: 88px;
   opacity: 1;
}
#text_input{
 font-size: 20px;
 font-family:
}

.list{
  position: relative;
  z-index: 22;
  top:  60px;

}
li{
  padding: 25px;
  max-width:  97%;
  margin-bottom: 30px;
  display: block;
  border-style: solid;
  border-width: medium;
  border-color: #8bcaf2;
}
